<form class="form js-form">
  <p class="form__message">Selecciona el nivel con el que te gustaría jugar:</p>
  <label for="check4">Fácil</label>
  <input
    type="radio"
    name="level"
    id="check4"
    class="form__checkEasy js-easyGame"
  />
  <label for="check6">Medio</label>
  <input
    type="radio"
    name="level"
    id="check6"
    class="form__checkMedium js-mediumGame"
  />
  <label for="check8">Difícil</label>
  <input
    type="radio"
    name="level"
    id="check8"
    class="form__checkHard js-hardGame"
  />
  <button class="form__start js-startGame">Comenzar a jugar</button>
</form>
