<form class="form js-form">
  <label for="check4">Fácil (2 parejas)</label>
  <input
    type="radio"
    name="level"
    id="check4"
    class="form__checkEasy js-easyGame"
  />
  <label for="check6">Medio (3 parejas)</label>
  <input
    type="radio"
    name="level"
    id="check6"
    class="form__checkMedium js-mediumGame"
  />
  <label for="check8">Difícil (4 parejas)</label>
  <input
    type="radio"
    name="level"
    id="check8"
    class="form__checkHard js-hardGame"
  />
  <button class="form__start js-startGame">Comenzar</button>
</form>
