<form class="form js-form">
  <label for="check4">Fácil (2 parejas)</label>
  <input type="radio" name="" id="check4" class="form__checkEasy js-easyGame" />
  <label for="check6">Medio (3 parejas)</label>
  <input
    type="radio"
    name=""
    id="check6"
    class="form__checkMedium js-mediumGame"
  />
  <label for="check8">Difícil (4 parejas)</label>
  <input type="radio" name="" id="check8" class="form__checkHard js-hardGame" />
  <button class="js-startGame">Comenzar</button>
</form>

<!-- <section class="section js-section">
  <button>
    <p class="easy">Fácil (2 parejas)</p>
  </button>
  <button>
    <p class="easy">Medio (3 parejas)</p>
  </button>
  <button>
    <p class="easy">Difícil (4 parejas)</p>
  </button>
</section> -->
