<main class="main">
  <ul class="main__list">
    <!-- <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li>
    <li class="main__list--item">
      <img src="./assets/images/back-pokeCards.jpg" alt="Cara trasera" />
    </li> -->
  </ul>
  <ul class="js-list"></ul>
</main>
